@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #3a0ca3, #7209b7);
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;
  height: 100vh;
}

.app {
  background: rgba(255, 255, 255, 0.1);
  min-width: 550px;
  max-width: 550px;
  height: 100%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.app-header {
  text-align: center;
  margin-bottom: 26px;
}

.app-header h1 {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.quiz-setup,
.quiz-question,
.quiz-summary,
.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-setup h3 {
  text-align: center;
}

.quiz-setup button {
  margin: 30px 60px 10px 60px;
}

.input-section {
  gap: 4px;
}

.input-section select {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.question-header {
  color: #d3d3d3;
  margin: 0 0 10px 0;
}

.question-number {
  font-size: 20px;
  text-align: center;
}

.score {
  text-align: center;
}

.current-question {
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px;
}

.choice:hover {
  background: rgba(255, 255, 255, 0.35);
}

.choice.selected {
  background-color: #4cc9f0;
  color: #000;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: none;
}

.quiz-question button {
  margin: 15px 100px 10px 100px;
}

.summary-list {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 250px;
  overflow: auto;
}

.summary-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 12px;
  transition: background 0.3s;
  border-left: 5px solid transparent;
}

.summary-item.correct {
  border-color: #4cc9f0;
}

.summary-item.incorrect {
  border-color: #f72585;
}

.question {
  font-weight: 600;
  color: #fff;
}

.answer {
  color: #ddd;
  margin-top: 6px;
}

.correct-answer {
  color: #f25;
  margin-top: 6px;
  font-style: italic;
}

.btn {
  background-color: #f72585;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #b5179e;
}

.btn.return-home {
  background-color: #3a86ff;
}

.btn.return-home:hover {
  background-color: #265df2;
}

.quiz-summary button {
  margin: 0 100px;
}

.btn:hover {
  background-color: #b5179e;
}

.btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
  border: 1px solid #aaa;
}

.hidden {
  display: none;
}

.loader,
.error {
  text-align: center;
  margin-top: 180px;
}
